<section class="vh-100">
  <div class="container d-flex justify-content-center align-items-center h-100">
    <div class="col-md-9 col-lg-6 col-xl-5">
      <h2 class="text-center">
        Reservation System
      </h2>      
    </div>
    <div class="container d-flex justify-content-center align-items-center h-100">
      <p class="lead fw-normal mb-0 me-3">
        Sign in
      </p>
      <br>
      <p-button 
        (click)="loginWithGoogle()" 
        icon="pi pi-google" 
        label="Sign in with Google" 
        class="p-button-raised p-button-rounded"
      >
      </p-button>
    </div>
  </div>
</section>
